.match-final-info-container {
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    position: relative;

    .potm{
        position: absolute;
        background: linear-gradient(black, blue);
        font-weight: 700;
        border: 5px solid white;
        border-radius: 10px;
        margin-top: -170px;
        margin-left: 25px;
        color: white;
        width: 570px;
        height: 120px;

        p{
            font-size: 30px;
            margin: 10px;
        }

        .potm-name{
            font-size: 50px;
            color: white;
            background: none;
            padding-left: 10px;
        }
    }

    .match-result{
        background: linear-gradient(black, darkgreen);
        height: 100px;
        font-size: 70px;
        font-weight: 700;
        margin: 10px;
        border: 4px solid white;
        border-radius: 10px;
        color: white;
    }

    .potm-container{
        display: grid;
        grid-template-columns: 1fr 2fr;

        img {
            border: 10px solid white;
            border-radius: 30px;
            margin: 10px;
            background-image: url(http://localhost:3012/textures/1000.jpg);
            background-size: cover;
        }

        .potm-stats{
            margin: 10px;
            border: 5px solid white;
            border-radius: 10px;
            background: linear-gradient(black, blue);
            color: white;
        }
    }
}